
:root {
  --color-principal: #ff5a5f;
  --color-primary-hover: #d64246;
  --color-verde: #04a75b;
  --color-negro: #444a47;
  --color-fondo: #f7f9fd;
  --color-footer: #151515;
  --fuente-principal: "Poppins", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0;
}

/* ==================================
          KEYFRAMES
====================================== */
@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 100px;
  }
  to{
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes fadeUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/*=================================
    Estilos BASE
==================================*/

.hm-wrapper {
  position: relative;
}

.hm-wrapper,
body {
  min-height: 100%;
}

body {
  font-family: var(--fuente-principal);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  border-style: none;
}

.main {
  max-width: 120rem;
  margin: 0 auto;
}

/*=================================
    ESTILOS Header
==================================*/

.hm-header {
  position: relative;
  height: auto;
  background: #fff;
  line-height: 64px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hm-header .container {
  height: 100%;
}

.container {
  width: 1122px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-menu .hm-logo {
  width: 202px;
}

.logo {
  width: 35%;
  border-radius: 5em;
}

.hm-header.header-fixed {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 8%);
  z-index: 99;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hm-menu {
  display: flex;
  position: relative;
}

.hm-menu ul {
  display: flex;
}

.hm-menu ul li a {
  color: var(--color-negro);
  font-size: 15px;
  margin-right: 30px;
  display: inline-block;
}

.hm-menu ul li a:hover {
  color: var(--color-principal);
}

.hm-menu .hm-icon-cart {
  margin-left: 10px;
}

.hm-menu .hm-icon-cart a {
  font-size: 33px;
  color: var(--color-negro);
  position: relative;
}

.hm-menu .hm-icon-cart a span {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  top: 2px;
  right: -2px;
  font-size: 10px;
  border-radius: 50%;
  background: var(--color-principal);
  color: #fff;
}



/*=================================
    ESTILOS Seccion Productos
==================================*/

.productos-container {
  padding: 60px 0px;
  
  background: var(--color-fondo);
}

.heading-title {
  margin-bottom: 50px;
}


.heading-title h2 {
  color: var(--color-negro);
  position: relative;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 16px;
}

.heading-title h2::after {
  content: "";
  width: 76px;
  height: 5px;
  background: var(--color-principal);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 3px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  max-width: 2000px;
  margin: 30px;
}

.productos-container img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.grid .producto-item {
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
}


.grid .producto-item img {
  transition: all 0.3s ease-in;
}

.grid .producto-item img:hover {
  transform: scale(1.07);
}

.grid .producto-item:hover {
  box-shadow: 0px 8px 24px rgba(220, 229, 245, 63%);
}

.grid .producto-item .portada-item {
  width: 100%;
  height: 265px;
  position: relative;
  overflow: hidden;
}

.producto-item {
  padding: 2rem;
}

.grid .producto-item .p-info h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-negro);
  line-height: 26px;
  margin-top: 25px;
  text-align: center;
}

.grid .producto-item .p-info .precio {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.grid .producto-item .p-info .precio span {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-negro);
}




/* ============================== 
          ANIMACIONES
=================================*/
.fade-up{
  opacity: 0;
  transform: translateY(80px);
  animation: fadeUp 1.5s ease-out forwards;

}

.grid .producto-item{
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}


/*=================================
    ESTILOS BOTONES
==================================*/

.grid .producto-item .p-info .hm-btn {
  width: 100%;
}

.hm-btn {
  display: inline-block;
  position: relative;
  padding: 12px 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  outline: 0;
}

.btn-primary {
  background: var(--color-principal);
  color: #fff;
  border-radius: 25px;
  text-align: center;
}

.btn-primary:hover {
  background: var(--color-primary-hover);
}


