/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

#productos {
    display: flex;
    flex-wrap: wrap;
}

.producto {
    width: calc(25% - 40px); /* 25% para que haya 4 productos por fila, 40px para el espacio entre productos */
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.producto img {
    max-width: 100%;
}

.producto h2 {
    margin-top: 0;
}

aside {
    flex: 30%;
}

#carrito {
    background-color: #f4f4f4;
    padding: 20px;
}

#carrito ul {
    list-style-type: none;
    padding: 0;
}

#carrito button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* CSS para ajustar el tamaño de las imágenes del carrusel sin estirarlas y hacerlas más pequeñas */
.carousel-item img {
    max-width: 200px; /* Ajusta el valor según sea necesario */
    max-height: 150px; /* Ajusta el valor según sea necesario */
    width: auto;
    height: auto;
}